.listOfItemsGrids {
  overflow-y: scroll;
  height: 80vh;
  margin-top: 5vh;
}

.itemsGrid {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.buildName {
  font-family: Penumbra HalfSerif Std;
  font-size: 30px;
  color: #faf9f7;
  text-align: left;
  margin-bottom: 7px;
}

.itemSection {
  margin-bottom: 7px;
  margin-right: none;
}

.itemSectionTitle {
  font-family: Penumbra;
  color: #d3cec4;
  font-weight: bold;
  text-align: left;
  margin-bottom: 7px;
}

.itemSectionFlex {
  display: flex;
  flex-direction: row;
}

.itemEmptyBox {
  height: 85px;
  width: 85px;
  background-color: #423d33;
  margin-right: 15px;
}

.itemsGridRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.relicSectionFlex {
  display: flex;
  flex-direction: column;
}

.relicEmptyBox {
  height: 85px;
  width: 85px;
  background-color: #423d33;
  margin-bottom: 15px;
}
