.headingWrapper {
  height: 12vh;
  width: 100%;
}

.headingGodProfile {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.headingGodIcon {
  width: 43px;
  border-radius: 100%;
  border: 2px solid #85784a;
  margin-right: 13px;
  box-shadow: 0px 0px 10px #85784a;
}

.headingGodName {
  height: 44px;
  line-height: 56px;
  font-family: Penumbra HalfSerif Std;
  font-size: 35px;
  color: #faf9f7;
}

.headingLowerHeading {
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
}

.headingSearchBar {
  background-color: #423d33;
  border-width: 0px;
  width: 30%;
  height: 28px;
  border-radius: 3.5px;
  color: #e8e6e1;
  padding-left: 7px;
  margin-top: 9px;
  font-size: 16.5px;
}

.headingSearchBar:focus {
  outline: 0;
  background-color: #504a40;
}

.headingSearchBar:hover {
  background-color: #504a40;
}

.headingDisplayButton {
  width: 80px;
  height: 40px;
  background-color: #423d33;
  border-radius: 3px;
  color: #faf9f7;
  font-family: Penumbra HalfSerif Std;
  font-size: 15px;
  outline: none;
  border: none;
  padding-top: 5px;
}

.headingDisplayButton:hover {
  background-color: #504a40;
  cursor: pointer;
}
