.itemTileName {
  font-family: roboto, sans-serif;
  font-size: 12px;
  color: #B8B2A7;
  padding-top: 5px;
  padding-bottom: 16px;
  letter-spacing: 0.3px;
}

.itemTileOverlay {
  position: relative;
  height: 102px;
  cursor: pointer;
  width: 102px;
  margin: auto;
}

.itemTileOverlay itemTileThumbnail {
  width: 100%;
  vertical-align: top;
}

.itemTileThumbnail {
  border: 1px solid #49422b;
  height: 100px;
}

.itemTileOverlay:after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(27, 24, 19, 0.6);
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}
.itemTileOverlay:hover:after {
  opacity: 1;
}

// .itemThumbnail {
//     border: 1px solid #85784A;
//     height: 110px;
// }

// .itemName {
//     font-family: Penumbra HalfSerif Std;
//     font-size: 12px;
//     color: #FFFBFB;
//     padding-top: 7px;
//     padding-bottom: 16px;
// }
