.godList {
    background-color: #1B1813;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    height:87vh; 
}

.savedGodsListTitle {
    font-size: 22px;
    font-family: Penumbra HalfSerif Std;
    color: #FAF9F7;
    padding-bottom: 19px;
    padding-top: 30px;
}