.godsList {
  background-color: #1b1813;
  overflow-y: scroll;
  height: 100vh;
  
  box-shadow: 0px 0px 60px #373122;
}

.godsListTitle {
  font-size: 22px;
  font-family: Penumbra HalfSerif Std;
  color: #faf9f7;
  padding-bottom: 19px;
  padding-top: 30px;
}
