.godsList {
  background-color: #1b1813;
  height: 100vh;
  box-shadow: 0px 0px 60px #373122;
}

.sideBarHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
}

.sideBarList {
  overflow-y: scroll;
  height: 88vh;
  padding-top: 18px;
}

.sideBarTitles {
  display: inline-flex;
  margin-top: 30px;
}

.savedGodsTitle {
  font-size: 20px;
  font-family: Penumbra HalfSerif Std;
  color: #625D52;
  margin-right: 31px;
}

.allGodsTitle {
  font-size: 20px;
  font-family: Penumbra HalfSerif Std;
  color: #625D52;
}

.savedGodsTitle:hover {
  color: #FAF9F7;
  cursor: pointer;

}

.allGodsTitle:hover {
  color: #FAF9F7;
  cursor: pointer;
}

.sideBarHeadingLine {
  width: 73.5%;
  height: 2px;
  background-color: #423D33;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 13px;
}

.searchGod {
  background-color: #423D33;
  border-width: 0px;
  width: 71%;
  height: 28px;
  border-radius: 3.5px;
  color: #E8E6E1;
  padding-left: 7px;
  margin-bottom: 15px;
  margin-top: 3px;
  font-size: 16.5px;
}

.searchGod:focus {
  outline:0;
  background-color: #504A40;
}
