.godWrapper {
  padding-bottom: 20px;
}

.godName {
  padding-top: 4px;
  font-family: Penumbra;
  color: #d3cec4;
  font-weight: bold;
}

.godThumbnail {
  width: 150px;
  height: 150px;
  border-radius: 3px;
  border: 2px solid #85784a;
}

.godThumbnail:hover {
  cursor: pointer;
}

.selectedGod {
  box-shadow: 0px 0px 20px #85784a;
}
